* {
    box-sizing: border-box;
}

#root {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* fallback */
    height: 100dvh; /* dynamic viewport height */
}

main {
    flex: 1 0 auto;
}

.card {
    box-shadow: 5px 5px 5px hsl(0, 0%, 50%);
    padding: 20px;
    margin: 10px;
    width: 240px;
}

.card img {
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height: 150px;
    align-items: center;
}
