* {
    box-sizing: border-box;
}

html,
body {
    min-width: 320px;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    min-height: 320px;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.card {
    width: 240px;
    min-width: 240px;
    min-height: 340px;
    box-shadow: inset -10px -10px 10px rgba(0, 0, 0, 0.4),
        inset 10px 10px 10px rgba(255, 255, 255, 0.4);
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.btn {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7),
        inset -10px -10px 10px rgba(0, 0, 0, 0.4),
        inset 10px 10px 10px rgba(255, 255, 255, 0.4);
}

.modal {
    min-width: 320px;
}

.modal-body p {
    margin: 0;
}

button {
    min-width: 66pt;
    font-weight: bold;
}
